#column-2{
  padding: 5rem 0;
  position: relative;

    .two-column{
      max-width:  41.666667%;; //480px or 30rem
      float: left;
      padding: 0 0 6% 6%;

      img{
        height: 100%;
        width: 100%;
      }
      h2{
        font-size: 35px;
        font-weight: 300;
        margin-top: 8px;
        margin-bottom: 0.65rem;
        border-bottom: medium double rgba(144, 144, 144, 0.25);

        @media(max-width: 640px){font-size: 23px};
      }
      p{
        font-size: 20px;
        font-weight: 100;

        @media(max-width: 640px){font-size: 15px};
      }
    }

    .content{
      width: 40%;
    }
    h2{
      font-size: 2rem;
    }
    p{
      font-size: 18px;
    }

    .learn-more{
      position: absolute;
      bottom: 0;
      a{
        padding: 1rem 2.5rem;
        border: 1px solid rgb(150, 142, 142);
        font-size: 20px;
        font-weight: 300;
        color: $black;
        text-decoration: none;
        border-radius: 5px;
        text-align: center;
        background-color: $white;

        @media screen and(max-width: 640px){padding: 10px 10px; font-size: 11px;}
        @media screen and(max-width: 768px){padding: 12px 12px; font-size: 13px;}
        &:hover{
          -webkit-box-shadow: 0px 4px 12px 1px  rgba(0, 0, 0, 0.64);
          -moz-box-shadow: 0px 4px 12px 1px  rgba(0, 0, 0, 0.64);
          box-shadow: 0px 4px 12px 1px  rgba(0, 0, 0, 0.64);
        }

      }
    }
}
