#column-2{
  padding: 5rem 0;
  position: relative;

  &::before{
    content: "";
    display: table;
  }
  &::after{
    content: "";
    display: table;
    clear: both;
  }
    .feature{
      max-width:  41.666667%;; //480px or 30rem
      float: left;
      margin-left: 6%;
      padding-top: 5rem;
      img{
        height: 100%;
        width: 100%;
      }
      h2{
        font-size: 35px;
        font-weight: 300;
        margin-top: 8px;
        margin-bottom: 0.65rem;
        border-bottom: medium double rgba(144, 144, 144, 0.25);
      }
      p{
        font-size: 20px;
        font-weight: 100;
      }
    }

    .content{
      width: 40%;
    }
    h2{
      font-size: 2rem;
    }
    p{
      font-size: 18px;
    }
}
