footer{
  padding: 6% 0;
  background-color: rgb(9, 12, 15);
  background: linear-gradient(50deg, #4dac71 50%, $black 50%);
  color: $white;
  position: relative;

  @media screen and(max-width: 640px){
    .two-column{
        p{
          font-size: 10px;
        }
        h3{
          font-size: 13px;
        }
        }

    }


  .two-column{
    padding: 0 0 7% 7%;

    @media screen and (max-width: 640px){
      width: 100%;
      max-width: none;
      padding: 0;
    }

    h3{
      font-size: 27px;
      padding-bottom: 15px;
      font-weight: 700;

      @media(max-width: 640px){
        font-size: 18px;
        padding-left: 15px;
      }
    }
    p{
      font-size: 18px;
      font-weight: 300;

      @media(max-width: 640px){
        font-size: 12px;
        padding-left: 15px;
      }
    }
      .map{
          li{
            display: inline-block;
            list-style-type: none;

            @media(max-width: 640px){
              font-size: 10px;
            }

            a{
                text-decoration: none;
                color: $white;
                font-weight: 300;
              i{
                font-size: 20px;
                border: none;

                @media(max-width: 640px){
                  font-size: 11px;
                }

                &:hover{
                  background:none;
                  color: $white;
                }


              }
            }
          }
      }

    ul{
      @media screen and(max-width: 640px){
          margin: 0;
          padding: 0;
      }

      li{
        list-style-type: none;
        display: inline-block;
        margin: 10px 10px;

        @media screen and(max-width: 640px){
            margin: 0 0 10px 13px;
        }

        a{
          text-decoration: none;

          i{
            font-size: 20px;
            color: $white;
            padding: 8px 10px;
            border: 1px solid $white;
            border-radius: 100%;

            @media(max-width: 640px){
              font-size: 13px;
              padding: 5px 7px;
            }
            &:hover{
              background-color: $white;
              color: $black;
            }
          }
        }
      }
    }

    .form{
      @media screen and (max-width: 640px){
        width: 1%;
        margin-bottom: 10px;
        padding: 0 0 2rem 0.9rem;
      }
      width: 50%;
      padding: 20px 10px;
      input[type="text"],
      input[type="password"]{
        padding: 15px 60px;
        border-radius: 1rem;
        font-size: 18px;
        color: $black;
        margin-bottom: 2rem;

        @media screen and (max-width: 640px){
          padding: 5px 5px;
          font-size: 10px;
          margin-bottom: 0.30rem;
        }
        &:hover{
          -webkit-box-shadow: 0px 0px 10px 10px  rgba(0, 0, 0, 0.64);
          -moz-box-shadow: 0px 0px 10px 10px  rgba(0, 0, 0, 0.64);
          box-shadow: 0px 0px 10px 10px  rgba(0, 0, 0, 0.64);
        }

      }
      input[type="submit"]{
        padding: 10px 30px;
        background:none;
        border: 1px solid $white;
        color: $white;
        font-size: 20px;
        cursor: pointer;
        border-radius: 5px;

        &:hover{
          background-color: $white;
          color: $black;
          -webkit-box-shadow: 0px 0px 10px 10px  rgba(0, 0, 0, 0.64);
          -moz-box-shadow: 0px 0px 10px 10px  rgba(0, 0, 0, 0.64);
          box-shadow: 0px 0px 10px 10px  rgba(0, 0, 0, 0.64);

        }

        @media screen and (max-width: 640px){
          padding: 5px 6px;
          font-size: 10px;
        }

      }
    }
  }

  #copyright{
    padding: 25px 0;
    background-color: $black;
    width: 100%;
    position: absolute;
    bottom: 0;

    @media screen and (max-width: 640px){
        padding: 10px 0;
      }

    p{
        font-size: 18px;
        font-weight: 300;

        @media screen and(max-width: 640px){
          font-size: 12px;
        }
    }
  }
}
