#services{
        text-align: center;
        padding: 10% 0;
        box-sizing: border-box;
        background-color: #3CA465;
        background: linear-gradient(60deg, #4dac71 50%, #3ba666 50%);
        .services-inner{
          padding:  0 10px;

        }
    span{
        i{
            font-size: 3em;
            margin-bottom: 5px;
        }
    }
    h2{
      font-size: 25px;
      margin-bottom: 10px;
    }
    p{
      font-size: 18px;
    }
}
